*, *::before, *::after {
  box-sizing: border-box;
}

/* 
  Fonts
  ----------
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
*/

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

img {
  max-width: 100%;
}

main {
  padding: 3em 0;
}

section {
  padding: 3em 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  height: 30px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #A59678;
  padding: .25em 1.5em;
  border-radius: 5em;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.highlight {
  color: #A59678;
}

nav {
  background-color: #2E323F;
  padding: 1em 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  text-transform: uppercase;
}

.nav__item {
  margin-bottom: 1em;
}

.nav__link {
  text-decoration: none;
  color: #fff;
}

.nav__item:hover,
.nav__item  :focus {
  opacity: .75;
}

.hero {
  background-color: #3B4050;
}

.hero h1 {
  margin: 0;
  color: #fff;
  font-size: 3em;
}

.hero p {
  color: #fff;
  font-size: 1.33rem;
}

.hero-btn {
  font-size: 1.33rem;
}

.three-col-section {
  background-color: #f1f1f1;
  text-align: center;
}

.three-col-section article {
  margin-bottom: 2em;
}

.main-content {
  padding-bottom: 2em;
}

.main-content p {
  font-size: 1.16rem;
}

.main-content--card {
  background-color: #3B4050;
  text-align: center;
  padding: 1.25em;
  margin-bottom: 1em;
  color: #fff;
}

.main-content--card h3 {
  font-size: 1.66rem;
}